html(lang=ja)
  head
    title Typing Symbols
    link(rel='stylesheet' href='main.css')
  body
    .content
      #word-display
      #answer-display
      #status-display
      #result-display
  script(type='text/javascript' src='bundle.js')
